.moviebox {
    &__carousel {
        position: relative;

        &-skeleton {
            margin: 0 0 20px 0;
            width: 100%;
        }

        &__item {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            cursor: all-scroll;

            img {
                width: 100%;
                height: 500px;
                -o-object-fit: cover;
                   object-fit: cover;
                -webkit-filter: brightness(65%);
                        filter: brightness(65%);
            }

            &__poster {
                position: absolute;
                bottom: 40px;
                width: 100%;
                max-width: 960px;

                @include mq("tablet-wide", "max") {
                    max-width: 750px;
                }

                @include mq("tablet", "max") {
                    max-width: 550px;
                }

                @include mq("tablet-small", "max") {
                    max-width: 400px;
                }

                @include mq("phone-wide", "max") {
                    max-width: 280px;
                }
            }

            &__link {
                color: $white;
                text-decoration: none;

                &::after {
                    content: '>>';
                    margin: 0 0 0 4px;
                }
            }
        }

        .thumb {
            cursor: pointer;
        }

        .thumbs {
            padding: 0 15px;

            &-wrapper {
                position: relative;
                margin: 0 auto !important;
                padding: 9px 0 0 0;
                width: 100%;
                background: -o-linear-gradient(189deg, rgba(7,41,99,1) 0%, rgba(36,36,205,1) 35%, rgba(0,212,255,1) 100%);
                background: linear-gradient(261deg, rgba(7,41,99,1) 0%, rgba(36,36,205,1) 35%, rgba(0,212,255,1) 100%);
                overflow: hidden;
            }
        }

        /* TODO: Important used for override of Carousel Component */
        .carousel .control-arrow {
            top: 13px !important;
            padding: 0 5px;
            height: 100% !important;
            background-color: $transparent-black !important;
            opacity: 1 !important;
        }

        .carousel.carousel-slider .control-arrow {
            top: 0 !important;
        }

        .carousel .carousel-status {
            right: 35px;
        }
    }
}